:root {
  --color-0: #ecfffb;
  --color-1: #05b38d;
  --color-2: #c330b2;
  --color-3: #6e0067;
  --color-4: #3300c0;
  --color-5: #070044;
}

#c2d {
  position: absolute;
  height: 100vmin;
  width: 100vmin;
  image-rendering: pixelated; /* You definitely want this if you are doing pixel art */
}

#menu, #intro {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Get rid of any margins, set background var(--color-5), use flexbox to center */
html, body {
  user-select: none;
  margin: 0;
  background-color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-0);
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none !important;
}

#menu, #intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  color: var(--color-5);
  background-color: var(--color-0);
  padding: 0.5em 1em;
  margin: 0.5em;
  user-select: none;
  cursor: pointer;
  font-variant-caps: small-caps;
}

li:hover {
  background-color: var(--color-1);
}

li:active {
  background-color: var(--color-2);
}

#intro {
	max-width: 40ch;
}

#controls {
	position: absolute;
	bottom: 0;
	width: 90%;
	text-align: center;
	margin: 2vh 0;
  display: flex;
  justify-content: center;
}

#fps {
  position: fixed;
  top: 0;
  left: 0;
  color: greenyellow;
}


/** RANGE **/
input[type=range] {
  -webkit-appearance: none;
  max-width: 100%;
  width: 400px;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--color-2);
  border-radius: 25px;
  border: 5px solid var(--color-5);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background: var(--color-5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color-2);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--color-2);
  border-radius: 25px;
  border: 5px solid var(--color-5);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background: var(--color-5);
  cursor: pointer;
}

/* BUTTON */
#submit {
	padding: 1vh;
	margin-left: 4vh;
	border-radius: 999px;
	height: 100px;
	width: 100px;
	background: var(--color-1);
	border: 3px solid var(--color-5);
	box-shadow: 5px 5px var(--color-5);
	font-size: 30px;
	font-weight: bold;
	color: var(--color-5);
  transition: all 200ms ease-in-out 50ms;
  flex-shrink: 0;
}
#submit.clicked {
  transform: translate(4px, 4px);
	box-shadow: 1px 1px var(--color-5);
}